In [1]:
import pandas as pd
import numpy as np

In [2]:
import datetime as dt

In [3]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV, cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, accuracy_score

In [6]:
train = pd.read_csv('train.csv')

In [7]:
train.head()

,Id,Open Date,City,City Group,Type,P1,P2,P3,P4,P5,...,P29,P30,P31,P32,P33,P34,P35,P36,P37,revenue
0,0,07/17/1999,İstanbul,Big Cities,IL,4,5.0,4.0,4.0,2,...,3.0,5,3,4,5,5,4,3,4,5653753.0
1,1,02/14/2008,Ankara,Big Cities,FC,4,5.0,4.0,4.0,1,...,3.0,0,0,0,0,0,0,0,0,6923131.0
2,2,03/09/2013,Diyarbakır,Other,IL,2,4.0,2.0,5.0,2,...,3.0,0,0,0,0,0,0,0,0,2055379.0
3,3,02/02/2012,Tokat,Other,IL,6,4.5,6.0,6.0,4,...,7.5,25,12,10,6,18,12,12,6,2675511.0
4,4,05/09/2009,Gaziantep,Other,IL,3,4.0,3.0,4.0,2,...,3.0,5,1,3,2,3,4,3,3,4316715.0

In [8]:
train.columns

Index(['Id', 'Open Date', 'City', 'City Group', 'Type', 'P1', 'P2', 'P3', 'P4',
       'P5', 'P6', 'P7', 'P8', 'P9', 'P10', 'P11', 'P12', 'P13', 'P14', 'P15',
       'P16', 'P17', 'P18', 'P19', 'P20', 'P21', 'P22', 'P23', 'P24', 'P25',
       'P26', 'P27', 'P28', 'P29', 'P30', 'P31', 'P32', 'P33', 'P34', 'P35',
       'P36', 'P37', 'revenue'],
      dtype='object')

In [9]:
train_features_cols = ['P1', 'P2', 'P3', 'P4',
       'P5', 'P6', 'P7', 'P8', 'P9', 'P10', 'P11', 'P12', 'P13', 'P14', 'P15',
       'P16', 'P17', 'P18', 'P19', 'P20', 'P21', 'P22', 'P23', 'P24', 'P25',
       'P26', 'P27', 'P28', 'P29', 'P30', 'P31', 'P32', 'P33', 'P34', 'P35',
       'P36', 'P37']

In [10]:
train_result_col = ['revenue']

In [17]:
train.head()

,open_date,city,city_group,type,p1,p2,p3,p4,p5,p6,...,p29,p30,p31,p32,p33,p34,p35,p36,p37,revenue
0,07/17/1999,İstanbul,Big Cities,IL,4,5.0,4.0,4.0,2,2,...,3.0,5,3,4,5,5,4,3,4,5653753.0
1,02/14/2008,Ankara,Big Cities,FC,4,5.0,4.0,4.0,1,2,...,3.0,0,0,0,0,0,0,0,0,6923131.0
2,03/09/2013,Diyarbakır,Other,IL,2,4.0,2.0,5.0,2,3,...,3.0,0,0,0,0,0,0,0,0,2055379.0
3,02/02/2012,Tokat,Other,IL,6,4.5,6.0,6.0,4,4,...,7.5,25,12,10,6,18,12,12,6,2675511.0
4,05/09/2009,Gaziantep,Other,IL,3,4.0,3.0,4.0,2,2,...,3.0,5,1,3,2,3,4,3,3,4316715.0

In [18]:
train.head()

,open_date,city,city_group,type,p1,p2,p3,p4,p5,p6,...,p29,p30,p31,p32,p33,p34,p35,p36,p37,revenue
0,07/17/1999,İstanbul,Big Cities,IL,4,5.0,4.0,4.0,2,2,...,3.0,5,3,4,5,5,4,3,4,5653753.0
1,02/14/2008,Ankara,Big Cities,FC,4,5.0,4.0,4.0,1,2,...,3.0,0,0,0,0,0,0,0,0,6923131.0
2,03/09/2013,Diyarbakır,Other,IL,2,4.0,2.0,5.0,2,3,...,3.0,0,0,0,0,0,0,0,0,2055379.0
3,02/02/2012,Tokat,Other,IL,6,4.5,6.0,6.0,4,4,...,7.5,25,12,10,6,18,12,12,6,2675511.0
4,05/09/2009,Gaziantep,Other,IL,3,4.0,3.0,4.0,2,2,...,3.0,5,1,3,2,3,4,3,3,4316715.0

In [19]:
pd.to_datetime(train['open_date'])[0]

Timestamp('1999-07-17 00:00:00')

In [20]:
int(dt.datetime.timestamp(pd.to_datetime(train['open_date'])[0])*1000)

932155200000

In [21]:
train['open_date'] = pd.to_datetime(train['open_date'])

In [22]:
date_timestamp_list = []
for date in train['open_date']:
    date_timestamp_list.append(int(dt.datetime.timestamp(date)*1000))

In [23]:
train['open_month'] = train['open_date'].dt.month
train['open_month'] = train['open_month'].astype(int)

In [24]:
train['open_year'] = train['open_date'].dt.year
train['open_year'] = train['open_year'].astype(int)

In [25]:
train['date_timestamp'] = date_timestamp_list

In [26]:
len(train.columns)

45

In [27]:
train.shape

(137, 45)

In [28]:
rng = np.random.default_rng(1488)
valid_test_idx = list(rng.integers(low=0, high=137, size=int(len(train)*0.2)))

In [29]:
train.head()

,open_date,city,city_group,type,p1,p2,p3,p4,p5,p6,...,p32,p33,p34,p35,p36,p37,revenue,open_month,open_year,date_timestamp
0,1999-07-17,İstanbul,Big Cities,IL,4,5.0,4.0,4.0,2,2,...,4,5,5,4,3,4,5653753.0,7,1999,932155200000
1,2008-02-14,Ankara,Big Cities,FC,4,5.0,4.0,4.0,1,2,...,0,0,0,0,0,0,6923131.0,2,2008,1202936400000
2,2013-03-09,Diyarbakır,Other,IL,2,4.0,2.0,5.0,2,3,...,0,0,0,0,0,0,2055379.0,3,2013,1362772800000
3,2012-02-02,Tokat,Other,IL,6,4.5,6.0,6.0,4,4,...,10,6,18,12,12,6,2675511.0,2,2012,1328126400000
4,2009-05-09,Gaziantep,Other,IL,3,4.0,3.0,4.0,2,2,...,3,2,3,4,3,3,4316715.0,5,2009,1241812800000

In [30]:
train['city'].nunique()

34

In [31]:
range(0,34)

range(0, 34)

In [32]:
train['city'].unique()

array(['İstanbul', 'Ankara', 'Diyarbakır', 'Tokat', 'Gaziantep',
       'Afyonkarahisar', 'Edirne', 'Kocaeli', 'Bursa', 'İzmir', 'Sakarya',
       'Elazığ', 'Kayseri', 'Eskişehir', 'Şanlıurfa', 'Samsun', 'Adana',
       'Antalya', 'Kastamonu', 'Uşak', 'Muğla', 'Kırklareli', 'Konya',
       'Karabük', 'Tekirdağ', 'Denizli', 'Balıkesir', 'Aydın', 'Amasya',
       'Kütahya', 'Bolu', 'Trabzon', 'Isparta', 'Osmaniye'], dtype=object)

In [33]:
cities_dict = {}

num=0
cities_list = list(train['city'].unique())

for city_index in range(len(cities_list)):
    cities_dict[cities_list[city_index]] = num
    num+=1

In [34]:
train['city_name_num'] = train['city'].map(cities_dict)

In [35]:
train.head()

,open_date,city,city_group,type,p1,p2,p3,p4,p5,p6,...,p33,p34,p35,p36,p37,revenue,open_month,open_year,date_timestamp,city_name_num
0,1999-07-17,İstanbul,Big Cities,IL,4,5.0,4.0,4.0,2,2,...,5,5,4,3,4,5653753.0,7,1999,932155200000,0
1,2008-02-14,Ankara,Big Cities,FC,4,5.0,4.0,4.0,1,2,...,0,0,0,0,0,6923131.0,2,2008,1202936400000,1
2,2013-03-09,Diyarbakır,Other,IL,2,4.0,2.0,5.0,2,3,...,0,0,0,0,0,2055379.0,3,2013,1362772800000,2
3,2012-02-02,Tokat,Other,IL,6,4.5,6.0,6.0,4,4,...,6,18,12,12,6,2675511.0,2,2012,1328126400000,3
4,2009-05-09,Gaziantep,Other,IL,3,4.0,3.0,4.0,2,2,...,2,3,4,3,3,4316715.0,5,2009,1241812800000,4

In [36]:
cities_group_dict = {}

num=0
city_group_list = list(train['city_group'].unique())

for city_group_index in range(len(city_group_list)):
    cities_group_dict[city_group_list[city_group_index]] = num
    num+=1

In [37]:
cities_group_dict

{'Big Cities': 0, 'Other': 1}

In [38]:
train['city_group_bool']=train['city_group'].map(cities_group_dict)

In [39]:
train['type'].nunique()

3

In [40]:
type_dict = {}

num=0
type_list = list(train['type'].unique())

for type_index in range(len(type_list)):
    type_dict[type_list[type_index]] = num
    num+=1

In [41]:
train['type_group']=train['type'].map(type_dict)

In [62]:
train_df, valid_df = train_test_split(train[~train.index.isin(valid_test_idx)], test_size = 0.25, random_state = 1488)

In [63]:
train_df.columns

Index(['open_date', 'city', 'city_group', 'type', 'p1', 'p2', 'p3', 'p4', 'p5',
       'p6', 'p7', 'p8', 'p9', 'p10', 'p11', 'p12', 'p13', 'p14', 'p15', 'p16',
       'p17', 'p18', 'p19', 'p20', 'p21', 'p22', 'p23', 'p24', 'p25', 'p26',
       'p27', 'p28', 'p29', 'p30', 'p31', 'p32', 'p33', 'p34', 'p35', 'p36',
       'p37', 'revenue', 'open_month', 'open_year', 'date_timestamp',
       'city_name_num', 'city_group_bool', 'type_group'],
      dtype='object')

In [64]:
features_train = train_df.drop(['revenue','date_timestamp','open_date','city','city_group','type'], axis='columns')
target_train = train_df['revenue']

In [65]:
features_valid = valid_df.drop(['revenue','date_timestamp','open_date','city','city_group','type'], axis='columns')
target_valid = valid_df['revenue']

In [66]:
test_valid_df = train[train.index.isin(valid_test_idx)]

In [67]:
features_test_valid_df = test_valid_df.drop(['revenue','date_timestamp','open_date','city','city_group','type'], axis='columns')
target_test_valid_df = test_valid_df['revenue']

In [82]:
tree_params = {'criterion':['mse'],
               'max_depth' : range(1,5),
              'max_features' : ['auto','log2']}

In [83]:
locally_best_tree = GridSearchCV(RandomForestRegressor(random_state=554321), tree_params)
locally_best_tree.fit(features_train, target_train)

GridSearchCV(cv=None, error_score=nan,
             estimator=RandomForestRegressor(bootstrap=True, ccp_alpha=0.0,
                                             criterion='mse', max_depth=None,
                                             max_features='auto',
                                             max_leaf_nodes=None,
                                             max_samples=None,
                                             min_impurity_decrease=0.0,
                                             min_impurity_split=None,
                                             min_samples_leaf=1,
                                             min_samples_split=2,
                                             min_weight_fraction_leaf=0.0,
                                             n_estimators=100, n_jobs=None,
                                             oob_score=False,
                                             random_state=554321, verbose=0,
                                             warm_start=False),
             iid='deprecated', n_jobs=None,
             param_grid={'criterion': ['mse'], 'max_depth': range(1, 5),
                         'max_features': ['auto', 'log2']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [84]:
locally_best_tree

GridSearchCV(cv=None, error_score=nan,
             estimator=RandomForestRegressor(bootstrap=True, ccp_alpha=0.0,
                                             criterion='mse', max_depth=None,
                                             max_features='auto',
                                             max_leaf_nodes=None,
                                             max_samples=None,
                                             min_impurity_decrease=0.0,
                                             min_impurity_split=None,
                                             min_samples_leaf=1,
                                             min_samples_split=2,
                                             min_weight_fraction_leaf=0.0,
                                             n_estimators=100, n_jobs=None,
                                             oob_score=False,
                                             random_state=554321, verbose=0,
                                             warm_start=False),
             iid='deprecated', n_jobs=None,
             param_grid={'criterion': ['mse'], 'max_depth': range(1, 5),
                         'max_features': ['auto', 'log2']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [85]:
locally_best_tree.best_params_

{'criterion': 'mse', 'max_depth': 1, 'max_features': 'log2'}

In [86]:
locally_best_tree.best_score_

-0.5242623998538412

In [87]:
locally_best_tree_valid_predictions = locally_best_tree.predict(features_valid)

In [88]:
result = mean_squared_error(target_valid, locally_best_tree_valid_predictions)**0.5

In [89]:
result

1934834.4038307758

In [77]:
result > 3444174.01030

False

In [177]:
locally_best_tree_valid_predictions = locally_best_tree.predict(features_valid)

In [178]:
locally_best_tree_valid_predictions = locally_best_tree.predict(features_test_valid_df)
result = mean_squared_error(target_valid, locally_best_tree_valid_predictions)**0.5
result

3114052.1799138407

In [213]:
locally_best_tree_valid_predictions = locally_best_tree.predict(features_test_valid_df)
result = mean_squared_error(target_test_valid_df, locally_best_tree_valid_predictions)**0.5
result

2065444.8304085338

In [214]:
result - 1749736.26157

315708.5688385337

In [215]:
locally_best_tree

GridSearchCV(estimator=RandomForestRegressor(random_state=554321),
             param_grid={'criterion': ['poisson'], 'max_depth': range(1, 10),
                         'max_features': ['auto', 'sqrt', 'log2']})

In [216]:
locally_best_tree.best_estimator_

RandomForestRegressor(criterion='poisson', max_depth=1, max_features='log2',
                      random_state=554321)

In [221]:
locally_best_tree.featur

AttributeError: 'GridSearchCV' object has no attribute 'feature_names_in_'

In [60]:
[range(4,45)]

[range(4, 45)]

In [16]:
test=pd.read_csv('test.csv')

In [17]:
test.head()

,Id,Open Date,City,City Group,Type,P1,P2,P3,P4,P5,...,P28,P29,P30,P31,P32,P33,P34,P35,P36,P37
0,0,01/22/2011,Niğde,Other,FC,1,4.0,4.0,4.0,1,...,2.0,3.0,0,0,0,0,0,0,0,0
1,1,03/18/2011,Konya,Other,IL,3,4.0,4.0,4.0,2,...,1.0,3.0,0,0,0,0,0,0,0,0
2,2,10/30/2013,Ankara,Big Cities,FC,3,4.0,4.0,4.0,2,...,2.0,3.0,0,0,0,0,0,0,0,0
3,3,05/06/2013,Kocaeli,Other,IL,2,4.0,4.0,4.0,2,...,2.0,3.0,0,4,0,0,0,0,0,0
4,4,07/31/2013,Afyonkarahisar,Other,FC,2,4.0,4.0,4.0,1,...,5.0,3.0,0,0,0,0,0,0,0,0

In [19]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 42 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Id          100000 non-null  int64
 1   Open Date   100000 non-null  object
 2   City        100000 non-null  object
 3   City Group  100000 non-null  object
 4   Type        100000 non-null  object
 5   P1          100000 non-null  int64
 6   P2          100000 non-null  float64
 7   P3          100000 non-null  float64
 8   P4          100000 non-null  float64
 9   P5          100000 non-null  int64
 10  P6          100000 non-null  int64
 11  P7          100000 non-null  int64
 12  P8          100000 non-null  int64
 13  P9          100000 non-null  int64
 14  P10         100000 non-null  int64
 15  P11         100000 non-null  int64
 16  P12         100000 non-null  int64
 17  P13         100000 non-null  float64
 18  P14         100000 non-null  int64
 19  P15         100000 non-null  int64
 20  P16         100000 non-null  int64
 21  P17         100000 non-null  int64
 22  P18         100000 non-null  int64
 23  P19         100000 non-null  int64
 24  P20         100000 non-null  int64
 25  P21         100000 non-null  int64
 26  P22         100000 non-null  int64
 27  P23         100000 non-null  int64
 28  P24         100000 non-null  int64
 29  P25         100000 non-null  int64
 30  P26         100000 non-null  float64
 31  P27         100000 non-null  float64
 32  P28         100000 non-null  float64
 33  P29         100000 non-null  float64
 34  P30         100000 non-null  int64
 35  P31         100000 non-null  int64
 36  P32         100000 non-null  int64
 37  P33         100000 non-null  int64
 38  P34         100000 non-null  int64
 39  P35         100000 non-null  int64
 40  P36         100000 non-null  int64
 41  P37         100000 non-null  int64
dtypes: float64(8), int64(30), object(4)
memory usage: 32.0+ MB

In [21]:
train.head()

,open_date,city,city_group,type,p1,p2,p3,p4,p5,p6,...,p29,p30,p31,p32,p33,p34,p35,p36,p37,revenue
0,07/17/1999,İstanbul,Big Cities,IL,4,5.0,4.0,4.0,2,2,...,3.0,5,3,4,5,5,4,3,4,5653753.0
1,02/14/2008,Ankara,Big Cities,FC,4,5.0,4.0,4.0,1,2,...,3.0,0,0,0,0,0,0,0,0,6923131.0
2,03/09/2013,Diyarbakır,Other,IL,2,4.0,2.0,5.0,2,3,...,3.0,0,0,0,0,0,0,0,0,2055379.0
3,02/02/2012,Tokat,Other,IL,6,4.5,6.0,6.0,4,4,...,7.5,25,12,10,6,18,12,12,6,2675511.0
4,05/09/2009,Gaziantep,Other,IL,3,4.0,3.0,4.0,2,2,...,3.0,5,1,3,2,3,4,3,3,4316715.0

In [22]:
train.open_date.dtype

dtype('O')

In [23]:
train.open_date.max()

'12/31/2012'

In [24]:
train['city_group'].nunique()

2

In [25]:
train['city'].nunique()

34